In [ ]:
#### Z TEST ####

In [ ]:
### Example 1 :One Sample Z test

Suppose the IQ in a certain population is normally distributed with a mean of mew=100 and standard deviation of sigma =15

A researcher wants to know if a new drug affects IQ levels, so he results 20 patients to try it and records their IQ levels.

data =[88,92,94,94,96,97,97,97,99,99,105,109,109,109,110,112,112,113,114,115]

In [ ]:
import scipy.stats as stats
from statsmodels.stats.weightstats import ztest
data =[88,92,94,94,96,97,97,97,99,99,105,109,109,109,110,112,112,113,114,115]
pop_mean=100
n=len(data)
alpha=0.05
z_val,p_val=ztest(data,value=pop_mean)
if p_val<alpha:
  print('Reject null Hypothesis : The new drug effect IQ level')
else:
  print('Do not Reject null Hypothesis : The new drug has no effect IQ level')

Do not Reject null Hypothesis : The new drug has no effect IQ level

In [ ]:
p_val

0.1101266701438426

In [ ]:
### TWO SAMPLE Z TEST

Suppose the IQ levels among individuals in two different cities are known to be normally distributed with known standard deviations

A researcher wants to know if the mean IQ level between individuals in cityA and cityB are different ,
 so she selects a simple random sample of 20 individuals from each city and records their IQ levels.

cityA =[82,84,85,89,91,91,92,94,99,99,105,109,109,109,110,112,112,113,114,114]
cityB =[90,91,91,91,95,95,99,99,108,109,109,114,115,116,117,117,128,129,130,133]

In [ ]:
cityA =[82,84,85,89,91,91,92,94,99,99,105,109,109,109,110,112,112,113,114,114]
cityB =[90,91,91,91,95,95,99,99,108,109,109,114,115,116,117,117,128,129,130,133]
alpha=0.05
z_val,p_val=ztest(cityA,cityB)
if p_val<alpha:
  print('Reject null Hypothesis :The mean IQ values btw city A and B are different')
else:
    print('Do not Reject null Hypothesis : city A and B has same mean IQ values')

Reject null Hypothesis :The mean IQ values btw city A and B are different

In [ ]:
p_val

0.046007596761332065

In [ ]:
## data set = Corona_Updated.csv

In [ ]:
Corona data set
To see whether the temperature has any effect on covid 19.
Null Hypothesis : Temperature doesnot affect COV-19 outbreak
Alternate Hypothesis : Temperature does affect COV-19 outbreak
Below 24-Cold Climate
Above 24-Hot Climate

In [ ]:
import pandas as pd
cor_data=pd.read_csv('Corona_Updated.csv')
cor_data

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86,1,1
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64,1,1
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9,0,0
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41,0,0
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
201,New Mexico,US,2020-03-10T02:33:04,0,0,0,34.8405,-106.2485,10.0,75,0,0
202,North Dakota,US,2020-03-10T02:33:04,0,0,0,47.5289,-99.7840,2.7,89,0,0
203,South Dakota,US,2020-03-10T02:33:04,0,0,0,44.2998,-99.4388,5.9,69,0,0
204,West Virginia,US,2020-03-10T02:33:04,0,0,0,38.4912,-80.9545,10.6,96,0,0
205,Wyoming,US,2020-03-10T02:33:04,0,0,0,42.7560,-107.3025,-2.7,91,0,0

In [ ]:
cor_data.columns

Index(['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered', 'Latitude', 'Longitude', 'Temprature',
       'Humidity', 'Temp_Cat', 'Humid_Cat'],
      dtype='object')

In [ ]:
## 24 nu thaze aanenkil cold nnum 24 nu molil aanenkil hot ennum kodukaan ulla code
cor_data['Temp_Cat']=cor_data['Temprature'].apply(lambda x:0 if x<24 else 1)

In [ ]:
alpha =0.05
z_val,p_val=ztest(cor_data['Temp_Cat'],cor_data['Confirmed'])
if p_val<alpha:
  print('Reject null Hypothesis : There is relation between corona outbreak and temp')
else:
  print('Do not Reject null Hypothesis : There is no relation between corona outbreak and temp')

Do not Reject null Hypothesis : There is no relation between corona outbreak and temp

In [ ]:
p_val

0.08676755279995227

In [ ]:
#### One sample T Test

In [ ]:
Let's say we want to determine if on average girls score more than 600 in the exam.
We do  not have the information related to variance (or standard deviation) for girls' scores .
 To a perform t-test ,we randomly collect the data of 10 girls with their marks and chppse our
  alpha value(significance level) to be 0.05 for Hypothesis testing.

Marks=[587,602,627,610,619,622,605,608,596,592]

In [ ]:
import numpy as np
from scipy import stats
Marks=[587,602,627,610,619,622,605,608,596,592]
pop_mean=600
t_val,p_val=stats.ttest_1samp(Marks,pop_mean)
alpha=0.05
if p_val<alpha:
  print('Reject null Hypothesis: Girls score more than 600')
else:
  print('Do not Reject null Hypothesis: Girls do not score more than 600')

Do not Reject null Hypothesis: Girls do not score more than 600

In [ ]:
###  CHI SQUARE TEST

In [ ]:
A survey was conducted to determine if there is an association between coffee consumption
 (Regular,Decaf, or No Coffee) and preferred coffee additives(Sugar,Cream, or None).
  The results are as follows :
                 sugar   cream   none
     Regular       30      25     10
     Decaf         15      20     30
     No coffee     10      5      25
Conduct a chi-square test of independence at a 0.05 significance level to determine if
 coffee consumption and preferred additives are independent or if there is an association

In [ ]:
import scipy.stats as stats
# create a contigency table (observed frequencies)
observed=[[30,25,10],[15,20,30],[10,5,25]]
# perform the chi square test of independence
chi_square_statistic,p_value,dof,expected=stats.chi2_contingency(observed)

# significance level(alpha)
alpha=0.05
# make a decision
if p_value<alpha:
  print('Reject the null hypothesis:There is an association between coffee consumption and preferred additives')
else:
  print('fail to reject the null hhypothesis :coffee consumption and preferred additives are independent')

Reject the null hypothesis:There is an association between coffee consumption and preferred additives

In [ ]:
p_value

1.2093282476946896e-05