In [ ]:
def add_numbers():
  print("hello from function")


add_numbers()

hello from function

In [ ]:
def fun():
    print("Welcome to the session")

fun()

Welcome to the session

In [ ]:
def evenOdd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")

In [ ]:
def rectangle_area(len, wid):
    return len * wid

length = 10
width = 5

area = rectangle_area(length, width)
print("The area of the rectangle is:", area)

The area of the rectangle is: 50

In [ ]:
def find_maximum_value(a, b):
  if a > b:
      return a
  elif a==b:
      return "same"
  else:
      return b

# Taking input from the user
value1 = float(input("Enter the first value: "))
value2 = float(input("Enter the second value: "))

# Call the function to find the maximum
maximum_value = find_maximum_value(value1, value2)

# Print the result
print("The maximum value is:", maximum_value)

Enter the first value: 34
Enter the second value: 54
The maximum value is: 54.0

In [ ]:
def sayHello(message, times=2):
  print(message * times)

sayHello("hello ",5)

hello hello hello hello hello

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def greet_person(name, age, location="Unknown"):
  print(f"Hello {name}! You are {age} years old and from {location}.")

greet_person(age=30, location="New York",name="Alice")
greet_person(name="Bob", age=25)

Hello Alice! You are 30 years old and from New York.
Hello Bob! You are 25 years old and from Unknown.

In [ ]:
def sum_numbers(*data):
    total = 0
    for num in data:
        total += num
    return total

result = sum_numbers(1, 2, 3, 4, 5)
print("Sum of 5 nums:", result)

result = sum_numbers(11, 12,13)
print("Sum of 3 nums :", result)

result = sum_numbers(100, 200,300,400,500,600)
print("Sum of 3 nums :", result)

Sum of 5 nums: 15
Sum of 3 nums : 36
Sum of 3 nums : 2100

In [ ]:
def print_info(**data1):
    print(data1)
    print(data1.items())
    for key, value in data1.items():
        print(f"{key}: {value}")

# Call the function with various keyword arguments
print_info(name="Alice", age=30, city="New York")

{'name': 'Alice', 'age': 30, 'city': 'New York'}
dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])
name: Alice
age: 30
city: New York

In [ ]:
print_info(country="USA", occupation="Engineer")

{'country': 'USA', 'occupation': 'Engineer'}
dict_items([('country', 'USA'), ('occupation', 'Engineer')])
country: USA
occupation: Engineer

In [ ]:
list1=[1,2,3,4,100]
list1[4]

100

In [ ]:
tuple2 = ("a","b","c","d","e")
tuple2[2]

'c'

In [ ]:
new_dict ={'name': 'Alice', 'age': 30, 'city': 'New York'}
new_dict['age']

30

In [ ]:
list1=["red","blue",23,]

In [ ]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
my_tuple = tuple(("a","b","c","d","e"))
my_tuple

('a', 'b', 'c', 'd', 'e')

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
thislist[0:5:2]

['apple', 'cherry', 'kiwi']

In [ ]:
thislist[0:4]

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist[-2]

'melon'

In [ ]:
thislist.append("Grapes")

In [ ]:
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']

In [ ]:
thislist.insert(2,"Strawberry")
thislist

['apple',
 'banana',
 'Strawberry',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'Grapes']

In [ ]:
thislist.pop(1)
thislist

['apple', 'Strawberry', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']

In [ ]:
thislist.remove('cherry')
thislist

['apple', 'Strawberry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']

In [ ]:
thislist[1]="watermelon"
thislist

In [ ]:
print(len(thislist))

7

In [ ]:
for fruit in thislist:
  print("my favorite fruit is , ",fruit)

my favorite fruit is ,  apple
my favorite fruit is ,  Strawberry
my favorite fruit is ,  orange
my favorite fruit is ,  kiwi
my favorite fruit is ,  melon
my favorite fruit is ,  mango
my favorite fruit is ,  Grapes

In [ ]:
del thislist[0]
thislist

['Strawberry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']

In [ ]:
thislist.sort(reverse=True)
thislist

['orange', 'melon', 'mango', 'kiwi', 'Strawberry', 'Grapes']

In [ ]:
thislist.reverse()
thislist

['Grapes', 'Strawberry', 'kiwi', 'mango', 'melon', 'orange']

In [ ]:
list_nested = [1,2,3,['John','Sanal'],[3.5,4.1]]
list_nested[3]

['John', 'Sanal']

In [ ]:
list_nested[4][0]

3.5

In [ ]:
list_nested[3][1]

'Sanal'

In [ ]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
thisdict['country']

'Norway'

In [ ]:
thisdict['country'] = 'Srilanka'
thisdict

{'name': 'John', 'age': 36, 'country': 'Srilanka'}

In [ ]:
thisdict["color"] = "red"
thisdict

{'name': 'John', 'age': 36, 'country': 'Srilanka', 'color': 'red'}

In [ ]:
thisdict.pop("age")
thisdict

{'name': 'John', 'country': 'Srilanka', 'color': 'red'}

In [ ]:
del thisdict["color"]
thisdict

{'name': 'John', 'country': 'Srilanka'}

In [ ]:
del thisdict

In [ ]:
thisdict.clear()
thisdict

{}

In [ ]:
thisdict

{'name': 'John', 'age': 36, 'country': 'Srilanka', 'color': 'red'}

In [ ]:
thisdict.items()

dict_items([('name', 'John'), ('age', 36), ('country', 'Srilanka'), ('color', 'red')])

In [ ]:
for x, y in thisdict.items():
  print(x, y)

name John
age 36
country Srilanka
color red

In [ ]:
thisdict.keys()

dict_keys(['name', 'age', 'country', 'color'])

In [ ]:
thisdict.values()

dict_values(['John', 36, 'Srilanka', 'red'])