In [ ]:
a = 33
b = 200
if b < a:
  print("b is less than a")
else:
  print("b is greater than a")

b is greater than a

In [ ]:
num=50
if num%2==0:
  print(num,'is even')
else:
  print(num,'is odd')

50 is even

In [ ]:
x = 200

if x < 50:
  print('(first suite)')
  print('x is small')
else:
  print('(second suite)')
  print('x is large')

(second suite)
x is large

In [ ]:
x = 15

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
but not above 20.

In [ ]:
x = 10

if x > 15:
    print("x is greater than 15")
elif x > 5:
    print("x is greater than 5 but not greater than 15")
else:
    print("x is 5 or less")

x is greater than 5 but not greater than 15

In [ ]:
#find the biggest
# a = 12
# b = 32
# c = 25
a=int(input("enter value a"))
b=int(input("enter value b"))
c=int(input("enter value c"))
if a>b and a>c:
  print(a,'is biggest a')
elif b>a and b>c:
  print(b,'is biggest b')
else:
  print("is biggest c")

enter value a4
enter value b6
enter value c2
6 is biggest b

In [ ]:
for i in range(5):
    a = int(input(f"Enter value {i}: "))

Enter value 0: 6
Enter value 1: 9
Enter value 2: 3
Enter value 3: 9
Enter value 4: 1

In [ ]:
a=10
b=5
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
age = 54
print('minor') if age < 21 else print('adult')

adult

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a and b are equal

In [ ]:
a = 23
b = 33
if b > a:
  pass

In [ ]:
# LIST, DICTIONARY , TUPLES

In [ ]:
myList = ['asha' ,23,'hi@gmail.com',1998,23.4,'ekm']
print(type(myList))

<class 'list'>

In [ ]:
thislist = list(("apple", "banana", "cherry"))
print(type(thislist))

<class 'list'>

In [ ]:
myTuple = ('asha' ,23,'hi@gmail.com',1998,23.4,'ekm')
print(type(myTuple))

<class 'tuple'>

In [ ]:
myTuple2 = tuple(('asha' ,23,'hi@gmail.com',1998,23.4,'ekm'))
print(type(myTuple2))

<class 'tuple'>

In [ ]:
#For loop in a list
fruits = ['apple','orange','kiwi','banana','grapes']
for favourite in fruits:
  print(favourite)

apple
orange
kiwi
banana
grapes

In [ ]:
for num in range(101,126,2):
  print(num)

101
103
105
107
109
111
113
115
117
119
121
123
125

In [ ]:
for num in range(5,101,5):
  print(num)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
word = 'python programming'
for letter in word:
  print(letter,end='\n')

p
y
t
h
o
n

p
r
o
g
r
a
m
m
i
n
g

In [ ]:
#count of numbers divisible by 3 from 5 to 500
count = 0
for num in range(5,50):
  if(num%5==0):
    print(num)
    count = count+1
#print(count)

5
10
15
20
25
30
35
40
45

In [ ]:
i=0
while(i!=10):
  print(i)
  i+=2

0
2
4
6
8

In [ ]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 4:
    break
  i += 1

1
2
3
4

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
for x in range(6):
  print(x)
else:
  print("finished!")

0
1
2
3
4
5
finished!